alembic==1.0.1
atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
colorama==0.4.0
Flask==1.0.2
Flask-Migrate==2.3.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
funcsigs==1.0.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.8.0
psycopg2==2.7.5
py==1.7.0
pytest==3.9.2
python-dateutil==2.7.5
python-editor==1.0.3
scandir==1.9.0
six==1.11.0
SQLAlchemy==1.2.12
-e git+git@github.com:ariua91/trello-webhook.git@e65f0eaf323ac3542018b11abaf96cf8d8827c24#egg=trello_parser
Werkzeug==0.14.1
